<div class="tab-container">
  <div class="tab-header">
    <ul class='tabs'>
      <li>
        <a href='#tab1'>Présentation</a>
      </li>
      <li>
        <a href='#tab2'>Menu</a>
      </li>
      <li>
        <a href='#tab3'>Evenements</a>
      </li>
    </ul>
  </div>
    <div id='tab1' class='content active'>
      <br>
      <br>
      <p>Bonjour nous sommes heureux de vous acceuillir, du Lundi au Dimanche de 07 h 00 à 23 h 00.
      En plus de commencer la journée par un café, vous pouver apprécier nos délicieuses formules déjeuner préparées le jour même par notre formidable équipe,  et surtout finir la journée pour un after-work autour de nos "happy-pack" spécialement étudiés pour un apéro, dans une ambiance décontractée. </p>
    </div>
    <div id='tab2' class='content'>
      <br>
      <br>
      <p>Le matin vous avez le choix pour votre petit-déjeuner ou simplement un café, pour la pause déjeuner laissez-vous transporter par nos savoureux "Burritos", nos délicieux "Hamburgers" ou nos "Soupes revisitées, et laissez-vous tenter par desserts gourmand. Et en fin de journée nous vous proposons le pack "After-work" composés de légumes apéro, de mini-tortillas et d'une bouteille au choix sur la carte.</p>
    </div>
    <div id='tab3' class='content'>
      <br>
      <br>
      <p>Pour commencer le week-end en beauté, venez assister aux événements du Vendredi et Samedi. Un artiste, un vernissage, un concert, il y a toujours de l'ambiance. Pensez à réserver </p>
    </div>
</div>


