<!-- On voit le header en premier -->

<div class="head">
	<%=render 'shared/header' %>
</div>	

<div class="container body">

<!-- Puis on voit la section carousel -->
	
<section id="section1" class="home">
	<%=render 'shared/carousel' %>
</section>

<!-- Ensuite on voit la page menu -->

<section id="section2" class="home">
	<%=render 'shared/menu' %>
</section>


</div>	

